.dialog-body {
    margin: 0;
}

.main-content {
    font-family: "Public Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.main-content__image {
    width: 160px;
    height: 160px;
}

.main-content__title {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin: 1em 0 0;
}

.main-content__text {
    font-size: 13px;
    line-height: 22px;
}

.main-content__text-subtitle {
    text-align: center;
    color: #636467;
    width: 90%;
    margin-top: 1em;
    font-size: 14px;
}

.main-content__footer {
    padding: 20px;
    background: #F5EBFC;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    width: 100%;
    justify-content: center;
}

.main-content__footer-text {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
}

.main-content__footer-title {
    text-align: start;
    line-height: 24px;
    color: #222326;
    font-size: 13px;
}

.main-content__footer-subtitle {
    text-align: start;
    font-size: 13px;
    line-height: 140%;
    color: #77787B;
    padding-top: 5px;
}

.main-content__button {
    height: 36px;
    width: 140px;
    color: white;
    background-color: #812ac1;
    border-radius: 80px;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 2em;
    letter-spacing: 1px;
    cursor: pointer;
}

.main-content__link {
    color: #84729B;
    margin-top: 2em;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}

.main-content__link-disabled {
    color: #BFC0C4;
    pointer-events: none;
}

#settings {
    font-family: "Public Sans", sans-serif;
    overflow: hidden;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
}

.settings__container {
    border-top: 1px solid #E2E3E7;
    padding-top: 10px;
    padding-bottom: 60px;
    color: #222326;
}

.settings__container-text {
    color: #222326;
}

#settings .main-content__footer {
    width: auto;
    padding: 10px 20px 10px;
}

/*checkbox style*/
.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-top: 5px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #E2E3E7;
}

.checkbox-container:hover .checkbox ~ .checkmark {
    background-color: #fff;
}

.checkbox-container .checkbox:checked ~ .checkmark {
    background-color: #FFF;
    border: 1px solid #812AC1;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container .checkbox:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: solid #812AC1;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}